html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #ECECEC;
    width: 100%;
    margin-bottom: 0;
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: 120px;
    margin-right: 100px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #515151;
    font-size: 16px;
    text-decoration: none;
}

.nav-links a:first-child {
    font-weight: bold;
    margin-right: 80px;
}

.nav-links a:nth-child(2) {
    margin-right: 80px;
}

.phone-number {
    background-color: #F86A42;
    color: white;
    font-weight: bold;
    font-style: italic;
    padding: 15px 20px;
    border-radius: 0px;
    margin-left: 100px;
    font-size: 18px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin: 0;
}

.banner img {
    width: 100%;
    height: auto;
    margin: 0;
}

.empresa {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #ffffff;
}

.empresa-title {
    color: #F86A42;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
}

.empresa-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.empresa-image {
    flex: 1;
    margin-right: 20px;
}

.empresa-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.empresa-text {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.empresa-paragraph {
    font-size: 16px;
    color: #515151;
    margin-bottom: 20px;
}

.empresa-button {
    display: inline-block;
    background-color: #FAAE00;
    color: white;
    font-weight: bold;
    padding: 12px 22px;
    border-radius: 0px;
    text-decoration: none;
    text-align: center;
}

.empresa-button:hover {
    background-color: #F86A42;
}
