html, body {
    margin: 0;
    padding: 0;
}

header, section {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #ECECEC;
    margin-bottom: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.logo {
    height: 10%;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #515151;
    font-size: 16px;
}

.nav-links a:first-child {
    font-weight: bold;
}

.phone-number {
    background-color: #F86A42;
    color: white;
    font-weight: bold;
    font-style: italic;
    padding: 10px 20px;
    border-radius: 0px;
}
